<?php
/**
 * @author    Agence Dn'D <contact@dnd.fr>
 * @copyright 2004-present Agence Dn'D
 * @license   https://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @link      https://www.dnd.fr/
 */
?>

<nav role="navigation">
    <ul class="styleguide-menu"
        id="styleguide-menu"
        data-mage-init='{"styleguideMenu":{}}'>
        <li class="styleguide-menu__title">
            <span><?= __('Electrons'); ?></span>
        </li>
        <li>
            <a href="#colors"><?= __('Colors'); ?></a>
        </li>
        <li>
            <a href="#fonticons"><?= __('Fonticons'); ?></a>
        </li>
        <li>
            <a href="#typography"><?= __('Typography'); ?></a>
        </li>
        <li class="styleguide-menu__title">
            <span><?= __('Molecules'); ?></span>
        </li>
        <li>
            <a href="#buttons"><?= __('Buttons'); ?></a>
        </li>
        <li>
            <a href="#collapsible"><?= __('Collapsible'); ?></a>
        </li>
        <li>
            <a href="#forms"><?= __('Forms'); ?></a>
        </li>
        <li>
            <a href="#messages"><?= __('Messages'); ?></a>
        </li>
        <li>
            <a href="#pager"><?= __('Pager'); ?></a>
        </li>
        <li>
            <a href="#tabs"><?= __('Tabs'); ?></a>
        </li>
    </ul>
</nav>


