<?php
/**
 * @author    Agence Dn'D <contact@dnd.fr>
 * @copyright 2004-present Agence Dn'D
 * @license   https://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @link      https://www.dnd.fr/
 */

$icons = [
    [
        'class' => 'icon-arrow-down'
    ],
    [
        'class' => 'icon-arrow-down-thin'
    ],
    [
        'class' => 'icon-arrow-left-thin'
    ],
    [
        'class' => 'icon-arrow-right-thin'
    ],
    [
        'class' => 'icon-arrow-up'
    ],
    [
        'class' => 'icon-arrow-up-thin'
    ],
    [
        'class' => 'icon-calendar'
    ],
    [
        'class' => 'icon-cart'
    ],
    [
        'class' => 'icon-checkmark'
    ],
    [
        'class' => 'icon-collapse'
    ],
    [
        'class' => 'icon-comment'
    ],
    [
        'class' => 'icon-comment-reflected'
    ],
    [
        'class' => 'icon-compare-empty'
    ],
    [
        'class' => 'icon-compare-full'
    ],
    [
        'class' => 'icon-down'
    ],
    [
        'class' => 'icon-envelope'
    ],
    [
        'class' => 'icon-expand'
    ],
    [
        'class' => 'icon-flag'
    ],
    [
        'class' => 'icon-grid'
    ],
    [
        'class' => 'icon-info'
    ],
    [
        'class' => 'icon-list'
    ],
    [
        'class' => 'icon-location'
    ],
    [
        'class' => 'icon-menu'
    ],
    [
        'class' => 'icon-next'
    ],
    [
        'class' => 'icon-pointer-down'
    ],
    [
        'class' => 'icon-pointer-left'
    ],
    [
        'class' => 'icon-pointer-right'
    ],
    [
        'class' => 'icon-pointer-up'
    ],
    [
        'class' => 'icon-prev'
    ],
    [
        'class' => 'icon-remove'
    ],
    [
        'class' => 'icon-search'
    ],
    [
        'class' => 'icon-settings'
    ],
    [
        'class' => 'icon-star'
    ],
    [
        'class' => 'icon-trash'
    ],
    [
        'class' => 'icon-up'
    ],
    [
        'class' => 'icon-update'
    ],
    [
        'class' => 'icon-warning'
    ],
    [
        'class' => 'icon-wishlist-empty'
    ],
    [
        'class' => 'icon-wishlist-full'
    ]
]
?>

<section class="styleguide__section styleguide__fonticons"
         id="fonticons">
    <h2 class="styleguide__title">
        <?= __('Fonticons'); ?>
    </h2>

    <div class="styleguide-entry">
        <h3 class="styleguide-entry__title">
            <?= __('Luma icons'); ?>
        </h3>

        <ul class="styleguide-icons-list">
            <?php foreach ($icons as $icon) :?>
                <li class="styleguide-icons-list__item">
                    <span class="styleguide-icons-list__icon icon <?= $icon['class'] ?>"></span>
                    <span class="styleguide-icons-list__name">
                    <?= $icon['class'] ?>
                </span>
                </li>
            <?php endforeach;?>
        </ul>
    </div>
</section>
