/**
 * @author    Agence Dn'D <contact@dnd.fr>
 * @copyright 2004-present Agence Dn'D
 * @license   https://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @link      https://www.dnd.fr/
 */

@import 'module/_variables.less';
@import 'module/_layout.less';
@import 'module/_luma-icons.less';

& when (@media-common = true) {
    .styleguide-index-index {
        margin: 0;
        height: 100vh;
        overflow-y: auto;
    }

    .sidebar-inner {
        .logo {
            float: none;
            display: block;
            width: 100%;
            max-width: none;
            margin: -.8rem 0 3rem 0;
            padding: @styleguide-sidebar__padding;
        }
    }

    .styleguide-menu {
        .lib-list-reset-styles();

        > li {
            margin: 0;

            > a,
            > span {
                display: block;
                padding: 1rem @styleguide-sidebar__padding;
                color: @color-gray20;
                font-weight: @font-weight__semibold;
            }

            &:not(.styleguide-menu__title) {
                > a {
                    border-left: 0 solid @theme__color__primary;
                    transition: border-left-width .1s, color .3s;

                    &:hover,
                    &.active {
                        color: @theme__color__primary;
                        border-left-width: .4rem;
                        text-decoration: none;
                        transition: border-left-width .1s, color .3s;
                    }
                }
            }

            &.styleguide-menu__title {
                margin-top: 2rem;

                span {
                    color: @color-gray52;
                }
            }
        }
    }

    .styleguide {
        &__intro {
            margin-bottom: 6rem;
        }

        &__section {
            margin-bottom: 10rem;
        }

        &__title {
            font-size: @h1__font-size-desktop;
            font-weight: @font-weight__regular;
            color: @color-gray20;
            border-bottom: .1rem solid @color-gray90;
            padding-bottom: 2rem;
            margin-bottom: 4rem;
            margin-top: 0;
        }
    }

    .styleguide-entry {
        + .styleguide-entry {
            margin-top: 6rem;
        }

        &__title {
            font-size: 2.5rem;
            font-weight: @font-weight__semibold;
            color: @color-gray60;
            text-transform: uppercase;
            margin-bottom: 4rem;
        }

        &__list {
            .lib-list-reset-styles();

            > li {
                + li {
                    margin-top: 1rem;
                }
            }
        }
    }

    //
    //  Colors
    //  _____________________________________________

    .styleguide-colors-list {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-gap: 2rem;
        max-width: 94rem;
        .lib-list-reset-styles();

        &__tile {
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            aspect-ratio: 1 / 1;
            padding: 1rem;
            margin: 0;
        }

        &__item {
            &::before {
                content: attr(data-variable);
                padding: .4rem;
                font-size: 1.2rem;
                background-color: rgba(255,255,255,0.9);
            }
        }
    }

    //
    //  Icons
    //  _____________________________________________

    .styleguide-icons-list {
        display: grid;
        grid-template-columns: repeat(7,1fr);
        grid-gap: 2rem;
        max-width: 94rem;
        .lib-list-reset-styles();

        &__item {
            margin: 0;
        }

        &__icon {
            display: flex !important;
            justify-content: center;
            align-items: center;
            aspect-ratio: 1 / 1;
            border: .1rem solid @color-gray90;
            box-shadow: 0 0 1rem 0 rgba(0,0,0,0.1);

            &::before {
                font-size: 2.8rem !important;
            }
        }

        &__name {
            display: block;
            text-align: center;
            margin-top: 1rem;
            font-size: 1.2rem;
        }
    }
}
