<?php
/**
 * @author    Agence Dn'D <contact@dnd.fr>
 * @copyright 2004-present Agence Dn'D
 * @license   https://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @link      https://www.dnd.fr/
 */
?>

<section class="styleguide__section styleguide__buttons"
         id="buttons">

    <h2 class="styleguide__title">
        <?= __('Buttons'); ?>
    </h2>
    <div class="styleguide-entry">
        <ul class="styleguide-entry__list">
            <li>
                <button type="button">Button</button>
            </li>

            <li>
                <a href="#" class="action primary">Action primary</a>
            </li>
        </ul>
    </div>
</section>
