<?php
/**
 * @author    Agence Dn'D <contact@dnd.fr>
 * @copyright 2004-present Agence Dn'D
 * @license   https://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @link      https://www.dnd.fr/
 */

$collapsibles = [
    [
        'title' => 'Lorem ipsum dolor sit amet ?',
        'content' => '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis hendrerit sem finibus nisi facilisis,
                        eget iaculis eros bibendum. Suspendisse vitae quam blandit, viverra tellus vel,
                        scelerisque sem. Etiam efficitur vehicula ullamcorper. In facilisis euismod odio,
                        sed cursus enim porttitor ut. Sed dictum lectus nec diam congue, quis aliquam tortor porta.
                        Proin rhoncus nulla nisi, non faucibus diam ultricies id. Aliquam ultricies ipsum at nunc auctor,
                        non elementum ligula varius. Quisque ac tempor metus.
                        Curabitur at facilisis est, a imperdiet nulla. Nulla non lacus aliquet ex eleifend blandit.
                        Cras fringilla tortor at nisi porttitor, nec convallis odio tristique.</p>'
    ],
    [
        'title' => 'Duis justo est ?',
        'content' => '<p>Duis justo est, consectetur at elit ultrices, dignissim volutpat justo. Phasellus ac lorem vitae
                        eros gravida dapibus. Nunc vitae dui placerat, consectetur ipsum pellentesque, molestie ipsum.
                        Fusce vel lectus sapien. Phasellus venenatis, magna dignissim tincidunt consectetur, turpis magna
                        molestie eros, congue dapibus nulla ante at leo. Aliquam rhoncus congue sapien rutrum viverra.</p>
                        <p>Mauris convallis velit vel sapien pellentesque aliquet. Morbi a tristique mauris.
                        Nunc laoreet orci in sem ullamcorper interdum. Donec laoreet est quis cursus vulputate.
                        Nulla felis ex, blandit et orci nec, lobortis ullamcorper orci. Praesent fringilla varius ante,
                        at volutpat dui posuere sodales.</p>'
    ],
    [
        'title' => 'Phasellus aliquam vestibulum turpis ?',
        'content' => '<p>Phasellus aliquam vestibulum turpis, eget gravida neque faucibus at. Proin vehicula, mi
                        scelerisque elementum luctus, felis ligula pulvinar enim, et pellentesque est quam eget nibh.
                        Nunc sit amet ex pretium, tempor velit non, finibus turpis. Quisque fermentum convallis nulla,
                        vitae gravida risus ullamcorper vitae. Duis a nunc cursus, scelerisque arcu id, faucibus odio.</p>'
    ]
]
?>

<section class="styleguide__section styleguide__collapsible"
         id="collapsible">
    <h2 class="styleguide__title">
        <?= __('Collapsible'); ?>
    </h2>
    <div class="styleguide-entry__list">
            <?php foreach ($collapsibles as $collapsible) :?>
                <div data-mage-init='{
                    "collapsible":{
                        "animate":{ "duration" :1000, "easing":"easeOutCubic"}
                    }}'>
                    <div data-role="title">
                        <h4><?= $collapsible['title'] ?></h4>
                    </div>
                    <div data-role="content">
                        <?= $collapsible['content'] ?>
                    </div>
                </div>
            <?php endforeach;?>
        </div>
    </div>
</section>
