<?php
/**
 * @author    Agence Dn'D <contact@dnd.fr>
 * @copyright 2004-present Agence Dn'D
 * @license   https://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @link      https://www.dnd.fr/
 */
?>

<section class="styleguide__section styleguide__forms"
         id="forms">

    <form action="/" method="POST">
        <fieldset class="fieldset">
            <h2 class="styleguide__title">
                <?= __('Forms'); ?>
            </h2>

            <h3 class="styleguide-entry__title" style="margin-top: 5rem;">
                <?= __('Input radio'); ?>
            </h3>

            <div class="choice">
                <input id="radio_1" name="custom_radio" value="Radio 1" type="radio">
                <label id="radio_1" for="radio_1" name="custom_radio">Input radio 1</label>
                &nbsp;&nbsp;&nbsp;
                <input id="radio_2" name="custom_radio" value="Radio 2" type="radio">
                <label id="radio_2" for="radio_2" name="custom_radio">Input radio 2</label>
            </div>

            <h3 class="styleguide-entry__title" style="margin-top: 5rem;">
                <?= __('Input checkbox'); ?>
            </h3>

            <div class="choice">
                <input id="checkbox_1" name="custom_checkbox" value="checkbox 1" type="checkbox">
                <label id="checkbox_1" for="checkbox_1" name="custom_checkbox">Input checkbox 1</label>
                &nbsp;&nbsp;&nbsp;
                <input id="checkbox_2" name="custom_checkbox" value="checkbox 2" type="checkbox">
                <label id="checkbox_2" for="checkbox_2" name="custom_checkbox">Input checkbox 2</label>
            </div>

            <h3 class="styleguide-entry__title" style="margin-top: 5rem;">
                <?= __('Input text'); ?>
            </h3>

            <div class="field">
                <label class="label" for="input_text_1">
                    <span>Input text</span>
                </label>
                <div class="control">
                    <input type="text"
                           id="input_text_1"
                           name="input_text_1"
                           value=""
                           title="Input Text 1"
                           class="input-text"
                           autocomplete="off">
                </div>
            </div>

            <div class="field required">
                <label class="label" for="input_text_2">
                    <span>Input text required</span>
                </label>
                <div class="control">
                    <input type="text"
                           id="input_text_2"
                           name="input_text_2"
                           value=""
                           title="Input Text 2"
                           class="input-text required-entry"
                           data-validate="{required:true}"
                           autocomplete="off"
                           aria-required="true">
                </div>
            </div>

            <div class="field">
                <label class="label" for="input_text_3">
                    <span>Input text disabled</span>
                </label>
                <div class="control">
                    <input type="text"
                           id="input_text_3"
                           name="input_text_3"
                           value=""
                           title="Input Text 3"
                           class="input-text"
                           autocomplete="off"
                           disabled>
                </div>
            </div>

            <div class="field">
                <label class="label" for="input_text_4">
                    <span>Input text error</span>
                </label>
                <div class="control">
                    <input type="text"
                           id="input_text_4"
                           name="input_text_4"
                           value=""
                           title="Input Text 4"
                           class="input-text mage-error"
                           autocomplete="off">
                </div>
                <div for="input_text_4" generated="true" class="mage-error">Ce champ est obligatoire.</div>
            </div>

            <div class="field">
                <label class="label" for="input_text_5">
                    <span>Input text with tooltip</span>
                </label>
                <div class="control _with-tooltip">
                    <input type="text"
                           id="input_text_5"
                           name="input_text_5"
                           value=""
                           title="Input Text 5"
                           class="input-text"
                           autocomplete="off">
                    <div class="field-tooltip">
                        <span class="field-tooltip-action"></span>
                        <div class="field-tooltip-content">
                            Tooltip Content
                        </div>
                    </div>
                </div>
            </div>

            <h3 class="styleguide-entry__title" style="margin-top: 5rem;">
                <?= __('Select'); ?>
            </h3>

            <div class="field">
                <label class="label" for="select_1">
                    <span>Select</span>
                </label>
                <div class="control">
                    <select name="select_1" id="select_1" title="Select 1">
                        <option value="select_1_item_1">Select item 1</option>
                        <option value="select_1_item_2">Select item 2</option>
                        <option value="select_1_item_3">Select item 3</option>
                        <option value="select_1_item_4">Select item 4</option>
                    </select>
                </div>
            </div>

            <div class="field">
                <label class="label" for="select_2">
                    <span>Select disable</span>
                </label>
                <div class="control">
                    <select name="select_2" id="select_2" title="Select 2" disabled>
                        <option value="select_2_item_1">Select item 1</option>
                        <option value="select_2_item_2">Select item 2</option>
                        <option value="select_2_item_3">Select item 3</option>
                        <option value="select_2_item_4">Select item 4</option>
                    </select>
                </div>
            </div>

            <h3 class="styleguide-entry__title" style="margin-top: 5rem;">
                <?= __('Textarea'); ?>
            </h3>

            <textarea name="textarea" id="" cols="30" rows="10">Type something here</textarea>
        </fieldset>
    </form>
</section>
