<?php
/**
 * @author    Agence Dn'D <contact@dnd.fr>
 * @copyright 2004-present Agence Dn'D
 * @license   https://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @link      https://www.dnd.fr/
 */
?>

<section class="styleguide__section styleguide__pager"
         id="pager">
    <h2 class="styleguide__title">
        <?= __('Pager'); ?>
    </h2>
    <ul class="styleguide-entry__list">
        <div class="pager">
            <div class="pages">
                <strong class="label pages-label" id="paging-label">Page</strong>
                <ul class="items pages-items" aria-labelledby="paging-label">
                    <li class="item pages-item-previous">
                        <a href="" class="action previous">
                            <span class="label">Page</span>
                            <span>Previous</span>
                        </a>
                    </li>
                    <li class="item">
                        <a class="page first" href="">
                            <span class="label"><?= $block->escapeHtml(__('Page')) ?></span>
                            <span>1</span>
                        </a>
                    </li>
                    <li class="item">
                        <a class="page previous jump"
                           title=""
                           href="">
                            <span>...</span>
                        </a>
                    </li>
                    <li class="item current">
                        <strong class="page">
                            <span class="label">Page</span>
                            <span>2</span>
                        </strong>
                    </li>
                    <li class="item">
                        <a href="" class="page">
                            <span class="label">Page</span>
                            <span>3</span>
                        </a>
                    </li>
                    <li class="item">
                        <a href="" class="page">
                            <span class="label">Page</span>
                            <span>4</span>
                        </a>
                    </li>
                    <li class="item">
                        <a class="page next jump" title="" href="">
                            <span>...</span>
                        </a>
                    </li>
                    <li class="item">
                        <a class="page last" href="">
                            <span class="label"><?= $block->escapeHtml(__('Page')) ?></span>
                            <span>5</span>
                        </a>
                    </li>
                    <li class="item pages-item-next">
                        <a href="" class="action next">
                            <span class="label">Page</span>
                            <span>Next</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </ul>
</section>
