/**
 * @author    Agence Dn'D <contact@dnd.fr>
 * @copyright 2004-present Agence Dn'D
 * @license   https://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @link      https://www.dnd.fr/
 */

.icon {
    .lib-icon-font(
        '',
        @_icon-font: @icons__font-name
    );

    @icon-arrow-down: '\e614';
    @icon-arrow-down-thin: '\e626';
    @icon-arrow-left-thin: '\e625';
    @icon-arrow-right-thin: '\e624';
    @icon-arrow-up-thin: '\e623';
    @icon-arrow-up: '\e613';
    @icon-calendar: '\e612';
    @icon-cart: '\e611';
    @icon-checkmark: '\e610';
    @icon-collapse: '\e60f';
    @icon-comment-reflected: '\e60e';
    @icon-comment: '\e620';
    @icon-compare-empty: '\e61f';
    @icon-compare-full: '\e61e';
    @icon-down: '\e622';
    @icon-envelope: '\e61d';
    @icon-expand: '\e61c';
    @icon-flag: '\e61b';
    @icon-grid: '\e60d';
    @icon-info: '\e60c';
    @icon-list: '\e60b';
    @icon-location: '\e60a';
    @icon-menu: '\e609';
    @icon-next: '\e608';
    @icon-pointer-down: '\e607';
    @icon-pointer-left: '\e61a';
    @icon-pointer-right: '\e619';
    @icon-pointer-up: '\e618';
    @icon-prev: '\e617';
    @icon-remove: '\e616';
    @icon-search: '\e615';
    @icon-settings: '\e606';
    @icon-star: '\e605';
    @icon-trash: '\e604';
    @icon-up: '\e621';
    @icon-update: '\e603';
    @icon-warning: '\e602';
    @icon-wishlist-empty: '\e601';
    @icon-wishlist-full: '\e600';

    &.icon-arrow-down {
        &::before {
            content: @icon-arrow-down;
        }
    }

    &.icon-arrow-down-thin {
        &::before {
            content: @icon-arrow-down-thin;
        }
    }

    &.icon-arrow-left-thin {
        &::before {
            content: @icon-arrow-left-thin;
        }
    }

    &.icon-arrow-right-thin {
        &::before {
            content: @icon-arrow-right-thin;
        }
    }

    &.icon-arrow-up {
        &::before {
            content: @icon-arrow-up;
        }
    }

    &.icon-arrow-up-thin {
        &::before {
            content: @icon-arrow-up-thin;
        }
    }

    &.icon-calendar {
        &::before {
            content: @icon-calendar;
        }
    }

    &.icon-cart {
        &::before {
            content: @icon-cart;
        }
    }

    &.icon-checkmark {
        &::before {
            content: @icon-checkmark;
        }
    }

    &.icon-collapse {
        &::before {
            content: @icon-collapse;
        }
    }

    &.icon-comment {
        &::before {
            content: @icon-comment;
        }
    }

    &.icon-comment-reflected {
        &::before {
            content: @icon-comment-reflected;
        }
    }

    &.icon-compare-empty {
        &::before {
            content: @icon-compare-empty;
        }
    }

    &.icon-compare-full {
        &::before {
            content: @icon-compare-full;
        }
    }

    &.icon-down {
        &::before {
            content: @icon-down;
        }
    }

    &.icon-envelope {
        &::before {
            content: @icon-envelope;
        }
    }

    &.icon-expand {
        &::before {
            content: @icon-expand;
        }
    }

    &.icon-flag {
        &::before {
            content: @icon-flag;
        }
    }

    &.icon-grid {
        &::before {
            content: @icon-grid;
        }
    }

    &.icon-info {
        &::before {
            content: @icon-info;
        }
    }

    &.icon-list {
        &::before {
            content: @icon-list;
        }
    }

    &.icon-location {
        &::before {
            content: @icon-location;
        }
    }

    &.icon-menu {
        &::before {
            content: @icon-menu;
        }
    }

    &.icon-next {
        &::before {
            content: @icon-next;
        }
    }

    &.icon-pointer-down {
        &::before {
            content: @icon-pointer-down;
        }
    }

    &.icon-pointer-left {
        &::before {
            content: @icon-pointer-left;
        }
    }

    &.icon-pointer-right {
        &::before {
            content: @icon-pointer-right;
        }
    }

    &.icon-pointer-up {
        &::before {
            content: @icon-pointer-up;
        }
    }

    &.icon-prev {
        &::before {
            content: @icon-prev;
        }
    }

    &.icon-remove {
        &::before {
            content: @icon-remove;
        }
    }

    &.icon-search {
        &::before {
            content: @icon-search;
        }
    }

    &.icon-settings {
        &::before {
            content: @icon-settings;
        }
    }

    &.icon-star {
        &::before {
            content: @icon-star;
        }
    }

    &.icon-trash {
        &::before {
            content: @icon-trash;
        }
    }

    &.icon-up {
        &::before {
            content: @icon-up;
        }
    }

    &.icon-update {
        &::before {
            content: @icon-update;
        }
    }

    &.icon-warning {
        &::before {
            content: @icon-warning;
        }
    }

    &.icon-wishlist-empty {
        &::before {
            content: @icon-wishlist-empty;
        }
    }

    &.icon-wishlist-full {
        &::before {
            content: @icon-wishlist-full;
        }
    }
}
